<b> To search record</b> with text field <b><i>field_name:value</i></b>, for a date field <b><i>date_field_name:start_date,end_date</i></b>
<br>
<p>Supported fields description, priority, status and last_modified_at</p>
<p> <b>query eg:</b> <i>status:closed&last_modified_at:2019-01-01,2019-12-01</i></p>
<%=form_for "test", :url => { :action => "search" }, :html => { :method => :post, :id => "Updateform" } do |f| %>
Search: <input name="query" value=""/>
</br>
<%= f.submit "search"%>
<%end%>
</br>
</br>
Note:
<span>Supported only for list and edit page, for adding pagination/new record/user session and login needs some more time.</span>
<br>
<br>
<table>
    <th>Id</th>
    <th>description</th>
    <th>priority</th>
    <th>status</th>
    <th>submitted_by</th>
    <th>last_modifed_date</th>
    <th>action</th>
    <% @issues.each do |issue| %>
        <tr>
           <td><%= issue.id %></td>
           <td><%= issue.description %></td>
           <td><%= issue.priority %></td>
           <td><%= issue.status %></td>
           <td><%= issue.submitted_by %></td>
           <td><%= issue.updated_at %></td>
           <td><a href="/issues/<%=issue.id%>/edit">edit</a></td>   
        </tr>
    <%end%>
</table>